<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="CIS560Proj.Properties.Settings.DBcon" connectionString="server=mysql.cis.ksu.edu;User Id=borzen;password=gam3er;database=borzen;Persist Security Info=True" providerName="MySql.Data.MySqlClient" />
    <add name="borzenEntities" connectionString="metadata=res://*/mySQLDB.csdl|res://*/mySQLDB.ssdl|res://*/mySQLDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql.cis.ksu.edu;User Id=borzen;password=gam3er;database=borzen;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="borzenEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql.cis.ksu.edu;User Id=borzen;database=borzen;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>